.label {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-highlight);
  padding: 0.4em;
}

.label svg {
  margin-right: 0.3em;
}

.label input {
  font-size: 0.8em;
  background: transparent;
  border: 0;
}

.label input:focus {
  outline: none;
}
